.link-ctnr{
    position: fixed;
    top: 2%;
    left: 55%;
    height: auto;
    width: auto;
}

.connect-btn{
    margin-left: 20vw !important;

}

.connect-btn, .register-btn{ 
    background-color:  transparent;
    border: 2px solid rgba(255,255, 255, 0.5);
    border-radius: 8px;
    padding: 0.5vw;
    font-size: 15px;
    font-weight: 400;
    font-family: Roboto;
    color: rgba(255,255, 255, 0.8);
    margin-left: 2vw;
    margin-top: 3vh;
    width: auto;
    height: auto;
    display: inline-block;
}


@media only screen and (min-width: 1600px) {
    .connect-btn{
        margin-left: 15vw !important;
    }
  }


.link-ctnr > div:hover{ 
    border: 2px solid rgba(255,255, 255, 0.7);
    color: rgba(255,255, 255, 0.9);
}

.link-ctnr > div a{ 
    color: rgba(255,255, 255, 0.9);
    text-decoration: none !important;
}


@media only screen and (max-width: 1175px) {
    

    .connect-btn, .register-btn{ 
        display: block;
        text-align: center; 
        margin-left: 20vw !important;

    }


  }


  @media only screen and (max-width: 600px) {
    .link-ctnr{
        position: fixed;
        top: 75%;
        left: 15%;
        height: auto;
        width: 45vw;
        z-index: 10 !important;
    }

    .connect-btn{ 
        margin-left: 20vw !important;

    }
    
    
  }