.bg-ctnr{
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 10;
}

.connect-ctnr > p{
    margin-top:10%;
    color: white;
    font-family: Roboto;
    font-size: 80%;
    font-weight: 400;
    display: flex;
    justify-content: center;
    align-items: center; 
}

.connect-mail{
    margin-top: 10%;
    margin-left: 5%;
    width: 90%;
    height: 10%;
    background-color: rgb(53, 53, 53);
    border-radius: 30px;
    margin-top: 3%;
    color: white;
    font-family: Roboto;
    font-size: 20px;
    font-weight: 600;
    display: flex;
    justify-content: center;
    align-items: center;
}

.input{
    margin-top: 10%;
    margin-left: 5%;
    width: 90%;
    height: 5vh;
    background-color: rgb(53, 53, 53);
    border-radius: 30px;
    margin-top: 3%;
    color: white;
    font-family: Roboto;
    font-size: 20px;
    font-weight: 600;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    margin-bottom: 10%;
}

.label{
    width: 50%;
    margin-left: 2vw;
    margin-top: 5vh;
    height: auto;
    color: white;
    font-family: Roboto;
    font-size: 100%;
    font-weight: 500;
}