.logo-ctnr {
  position: fixed;
  top: 2%;
  left: 1%;
  height: auto;
  width: auto;
  display: inline-block;
}

.logo {
  width: 100px;
  height: 100px;
  background-image: url(./resources/images/logo_de_merdre.png);
  background-repeat: no-repeat;
  background-size: 75px;
  background-position: center;
  display: inline-block;

}

.text {
  width: auto;
  margin-top: 5% !important;
  height: auto;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 600;
  font-size: 48px;
  color: #474747;
  display: inline-block;
  text-shadow: 0px 4px 4px rgba(168, 168, 168, 0.25);
  vertical-align: top;
}



@media only screen and (max-width: 1175px) {
  .logo-ctnr {
    position: fixed;
    top: 1%;
    left: 42vw;
    height: auto;
    width: auto;
  }

  .text{
    display: none;
  }
}