.bg-ctnr{
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 10;
}

.connect-ctnr{ 
    margin-top: 8%;
    margin-left: 35%;
    width: 30%;
    height: auto;
    background-color: rgb(24, 24, 24);
    border-radius: 20px;
}

button{
    border: none;
}

button:hover{
    cursor: pointer;
    opacity: 0.8;
}
.connect-ctnr .close-form{
    margin-top: 5%;
    margin-left: 5%;
    width: 90%;
    height: 5%;
}

.connect-ctnr .close-form a{
    color: white;
    text-decoration: none;

}

.connect-ctnr button:nth-child(-n+4){ 
    margin-left: 5%;
    width: 90%;
    height: 10%;
    border-radius: 30px;
    margin-top: 3%;
    color: white;
    font-family: Roboto;
    font-size: 20px;
    font-weight: 600;
    display: flex;
    justify-content: center;
    align-items: center;
}

.connect-apple{ 
    background-color: black !important;
    color: white !important;
}

.connect-google{ 
    background-color: white !important;
    color: black !important;
}

.connect-facebook{ 
    background-color: rgb(34, 104, 255) !important;
    color: white !important;
}

h1{
    margin-top:10%;
    color: rgb(163, 163, 163);
    font-family: Roboto;
    font-size: 40px;
    font-weight: 600;
    display: flex;
    justify-content: center;
    align-items: center; 
}

.connect-ctnr > p{
    margin-top:10%;
    color: white;
    font-family: Roboto;
    font-size: 80%;
    font-weight: 400;
    display: flex;
    justify-content: center;
    align-items: center; 
}

.connect-mail{
    margin-top: 10%;
    margin-left: 5%;
    width: 90%;
    height: 10%;
    background-color: rgb(53, 53, 53);
    border-radius: 30px;
    margin-top: 3%;
    color: white;
    font-family: Roboto;
    font-size: 20px;
    font-weight: 600;
    display: flex;
    justify-content: center;
    align-items: center;
}