.bg-ctnr {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 10;
}

.connect-ctnr > p {
  margin-top: 10%;
  color: white;
  font-family: Roboto;
  font-size: 80%;
  font-weight: 400;
  display: flex;
  justify-content: center;
  align-items: center;
}

.connect-mail {
  margin-top: 10%;
  margin-left: 5%;
  width: 90%;
  height: 10%;
  background-color: rgb(53, 53, 53);
  border-radius: 30px;
  margin-top: 3%;
  color: white;
  font-family: Roboto;
  font-size: 20px;
  font-weight: 600;
  display: flex;
  justify-content: center;
  align-items: center;
}

.input {
  margin-top: 10%;
  margin-left: 5%;
  width: 90%;
  height: 5vh;
  background-color: rgb(53, 53, 53);
  border-radius: 30px;
  margin-top: 3%;
  color: white;
  font-family: Roboto;
  font-size: 20px;
  font-weight: 600;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  margin-bottom: 10%;
}

.label {
  width: 50%;
  margin-left: 7%;
  margin-top: 5vh;
  height: auto;
  color: white;
  font-family: Roboto;
  font-size: 100%;
  font-weight: 500;
}

p {
  text-align: center;
}

@media only screen and (max-width: 1175px) {
  .bg-ctnr {
    background-color: rgba(255, 255, 255, 0.5);
  }
  .connect-ctnr {
    margin-top: 12% !important;
    margin-left: 5% !important;
    width: 90% !important;
    overflow: visible;
  }

  .input {
    margin-top: 2vh !important;
    margin-bottom: 2vh !important;
  }
}
