@font-face {
  font-family: "Righteous";
  src: url("./resources/fonts/Righteous-Regular.ttf");
}

.main-ctnr {
  position: absolute;
  left: 0;
  top: 20%;
  height: auto;
  width: 100vw;
}

.main-ctnr > div {
  width: 49%;
  height: 100%;
  display: inline-block;
}

.main-left h1:nth-child(1) {
  margin-top: 5vh;
}

.main-left h1 {
  font-family: "Righteous";
  font-style: normal;
  font-weight: 600;
  font-size: 4rem;
  color: #2c2c2c;
  margin-top: 1vh;
  margin-bottom: 0;
  padding-left: 1vw;
  text-align: center;
}

.main-left .text {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 2rem;
  border: none;
  border-radius: 15px;
  background: linear-gradient(
    89.76deg,
    #080736 0.18%,
    #ff5e43 99.78%,
    rgba(255, 94, 67, 0) 99.78%
  );

  filter: drop-shadow(2px 5px 4px rgba(0, 0, 0, 0.25));
  margin-top: 15% !important;
  margin-left: 32%;
  height: 6vh;
  width: 40%;
  text-align: center;
  color: white;
}

.main-right {
  height: 45vh !important;
  background-image: url("./resources/images/10088.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 40vw;
  vertical-align: top;
}

@media only screen and (max-width: 1175px) {
  .main-ctnr > div {
    margin-left: 10%;
    width: 80%;
    height: 100%;
    display: block;
  }

  .main-left h1 {
    font-family: "Righteous";
    font-style: normal;
    font-weight: 600;
    font-size: 7vw;
    color: white;
    margin-top: 1vh;
    margin-bottom: 0;
    padding-left: 1vw;
    text-align: start;
  }

  .main-left .text {
    display: none;
  }

  .main-right {
    margin-left: 30vw !important;
    height: 25vh !important;
    width: 40vw !important;
    background-size: 100% !important; ;
  } 

  
}
