div {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

.colored-bg {
  margin-left: 55%;
  margin-top: -5%;
  width: 60vw;
  height: 120vh;
  background: linear-gradient(
    89.76deg,
    #ff5e43 0.18%,
    #080736 99.78%,
    rgba(255, 94, 67, 0) 99.78%
  );
  transform: rotate(28deg);
  border-radius: 10%;
}

@media only screen and (max-width: 1175px) {
  body {
    margin: 0;
    width: 100% !important;
    height: 100% !important;
    overflow: hidden !important;
  }

  .colored-bg {
    transform: none;
    margin: -1% !important;
    width: 101%;
    height: 100%;
    border-radius: 0;
    background: linear-gradient(
      89.76deg,
      #080736 0.18%,
      #ff5e43 99.78%,
      rgba(255, 94, 67, 0) 99.78%
    );
    background-repeat: repeat-x !important;
  }
}
